body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 30px;
}

#searchBar {
    margin-top: 20px;
    padding: 5px;
}

#suggestions {
    margin-top: 10px;
}

#calculator {
    margin-top: 30px;
    display: inline-block;
}

.calculator {
    width: 200px;
    margin: auto;
    text-align: center;
}

.row {
    margin-bottom: 10px;
}

.btn {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
}

button {
    width: 40px;
    height: 40px;
}

.ocultos {
    background-color: #ccc;
    color: #333;
    font-weight: bold;
    width: 60px;
    height: 60px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    display: none;
}

.ocultos:hover {
    background-color: #999;
    color: #fff;
}